/* Fade transition effect */
html.is-changing .transition{
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

html.is-rendering .transition{
    opacity: 1;
    transition: opacity 2s ease-in-out;
}
